Flask
Flask-SQLAlchemy
pyodbc 
pandas
xlrd
flask-marshmallow 
marshmallow-sqlalchemy
iteration_utilities
requests
beautifulsoup4
pdf2image
imutils 
opencv-python
pytesseract
matplotlib
selenium
xlsxwriter
openpyxl